<div id="posts-container">
<div class="containpost">
  <% posts.forEach(post => { %>
    <div class="recipe-card">
      <a href="/main/user/post/<%= post._id %>"><img src="/uploads/<%= post.post_picture.split('\\').pop() %>" alt="<%= post.post_topic %>" class="recipe-image" /></a>
      <div class="recipe-details">
        <p><strong>Created by:</strong> <%= post.createdBy ? post.createdBy.profile_name : 'Unknown' %></p>
        <a href="/main/user/post/<%= post._id %>"><h3 class="recipe-title"><%= post.post_topic %></h3></a>
        <div class="recipe-rating">
          <label for="rating"><strong>คะแนนเฉลี่ย:</strong> <%= post.avg_score.toFixed(2) %></label>
          <span class="rating-value">จาก <%= post.ratings.length %> รีวิว</span>
        </div>
      </div>
    </div>
  <% }) %>
</div>
</div>
